/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
  ===================
  Containers
  ===================
*/

html {
  background-color: #bdbdbd;
}

main {
  width: 100vw;
  height: 100vh;
}

.main-container {
  background-color: #d3d3d3;
  box-shadow: 0 0 20px #939393;
  border-radius: 25px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 914px;
}

.pixel-canvas {
  display: inline-block;
  margin: 25px;
  max-width: 864px;
}

.palet-container {
  display: inline-block;
  padding: 20px;
  margin: 3%;
  margin-top: 0;
  max-width: 864px;
  border: 1px #bdbdbd dashed;
  box-shadow: 0 0 10px #939393;
  border-radius: 25px;
}

.tool-container {
  display: inline-block;
  padding: 20px;
  margin: 3%;
  margin-top: 0;
  width: 864px;
  border: 1px #bdbdbd dashed;
  box-shadow: 0 0 10px #939393;
  border-radius: 25px;
  max-height: 200px;
}

.current-color-container {
  display: inline-block;
  margin: 3%;
  margin-top: 0;
  width: 864px;
  height: 100px;
  border: 1px #bdbdbd dashed;
  box-shadow: 0 0 10px #939393;
  border-radius: 25px;
  text-align: center;
}

/*
  ===================
  Rows & Columns
  ===================
*/

.row-1-2 {
  display: block;
  width: 100%;
}

.col-3-4 {
  display: inline-block;
  width: 75%;
}

.col-1-2 {
  display: inline-block;
  width: 50%;
}

.col-1-4 {
  display: inline-block;
  width: 24%;
  padding: 30px;
  text-align: center;
}

.col-1-5 {
  display: inline-block;
  width: 19%;
  padding: 30px;
  text-align: center;
}

/*
  ===================
  Text Management
  ===================
*/

.palet-header {
  background-color: #d3d3d3;
  color: #808080;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  margin-top: -37px;
  margin-right: -25px;
}

.tool-header {
  background-color: #d3d3d3;
  color: #808080;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  margin-top: -37px;
  margin-left: 700px;
}

.current-color-header {
  /*background-color: #d3d3d3;*/
  color: #808080;
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  position: relative;
  margin-top: 25px;
}

.add-new-pixel {
  position: relative;
  display: inline-block;
  float: left;
  color: #808080;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
}

.add-new-color {
  position: relative;
  display: inline-block;
  float: left;
  color: #808080;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
}

.clear-the-img {
  position: relative;
  display: inline-block;
  float: left;
  color: black;
  background-color: #FF4B14;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
}

/*
  ===================
  Image Management
  ===================
*/

img {
  max-width: 100%;
  max-height: 100%;
}

/*
  =====================
  Color Palet & Container Fillers
  =====================
*/

.color {
  display: inline-block;
  margin-right: 1px;
  height: 40.5px;
  width: 40.5px;
  border-radius: 20px;
  border: 0px #bdbdbd solid;
  background-color: white;
}

.pixel-square {
  display: inline-block;
  float: left;
  width: 15.4px;
  height: 15.4px;
  background-color: white;
  border: 1px #d3d3d3 solid;
}

/*
  =====================
  Tool Box Fillers
  =====================
*/

.tool {
  display: inline-block;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

/*
  ===================
  Manage Colors
  ===================
*/

#BF3E16 {
  background-color: #BF3E16;
}
#FF4B14 {
  background-color: #FF4B14;
}
#E4572E {
  background-color: #E4572E;
}
#AF5A41 {
  background-color: #AF5A41;
}
[id='394053'] {
  background-color: #394053;
}
[id='677AB5'] {
  background-color: #677AB5;
}
#A5BCFF {
  background-color: #A5BCFF;
}
[id='1A513A'] {
  background-color: #1A513A;
}
[id='1C7C54'] {
  background-color: #1C7C54;
}
[id='5FCEA0'] {
  background-color: #5FCEA0;
}
[id='824002'] {
  background-color: #824002;
}
#D86902 {
  background-color: #D86902;
}
#FB8B24 {
  background-color: #FB8B24;
}
[id='772338'] {
  background-color: #772338;
}
#DB6B87 {
  background-color: #DB6B87;
}
#FFB2C5 {
  background-color: #FFB2C5;
}
[id='8DA7BE'] {
  background-color: #8DA7BE;
}
#CDE2F4 {
  background-color: #CDE2F4;
  border: 1px #bdbdbd solid;
}
[id='4F6170'] {
  background-color: #4F6170;
}
[id='2C3C49'] {
  background-color: #2C3C49;
}
[id='313715'] {
  background-color: #313715;
}
[id='556B2F'] {
  background-color: #556B2F;
}
[id='919E5B'] {
  background-color: #919E5B;
}
[id='5B4337'] {
  background-color: #5B4337;
}
[id='996A52'] {
  background-color: #996A52;
}
#CE8B69 {
  background-color: #CE8B69;
}
#FF9560 {
  background-color: #FF9560;
}
[id='222222'] {
  background-color: #222222;
}
[id='404040'] {
  background-color: #404040;
}
[id='545454'] {
  background-color: #545454;
}
[id='717171'] {
  background-color: #717171;
}
[id='858585'] {
  background-color: #858585;
}
#acacac {
  background-color: #acacac;
}
#d3d3d3 {
  background-color: #d3d3d3;
  border: 1px #bdbdbd solid;
}
#d7d7d7 {
  background-color: #d7d7d7;
  border: 1px #bdbdbd solid;
}
#a2a2a2 {
  background-color: #a2a2a2;
}
