/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  overflow: auto;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
  ===================
  Main Containers
  ===================
*/

html {
  background-color: #bdbdbd;
}

main {
  width: 100vw;
  height: 100vh;
}

.outside-container {
  background-color: #d3d3d3;
  box-shadow: 0 0 20px #939393;
  border-radius: 25px;
  margin: auto;
  margin-top: 3%;
  width: 914px;
  height: 637px;
}

/*
  ===================
  Rows & Columns
  ===================
*/

.row-1-2 {
  display: block;
  height: 50%;
  width: 101%;
}

.col-1 {
  display: inline-block;
  width: 43%;
}

.col-2 {
  display: inline-block;
  width: 40%;
}

/*
  ===================
  Pixel Canvas
  ===================
*/

.pixel-canvas {
  display: block;
  position: relative;
  top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 864px;
  height: 576px;
}

.pixel-in-canvas {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px #d3d3d3 solid;
}

/*
  ===================
  Color Canvas
  ===================
*/

.color-canvas {
  display: block;
  position: relative;
  bottom: 75px;
  margin-left: 25px;
  margin-right: 25px;
  width: 864px;
  height: 100px;
}

.color {
  display: inline-block;
  margin-right: 1px;
  height: 40.5px;
  width: 40.5px;
  border-radius: 20px;
  border: 1px black solid;
  background-color: white;
}

.color-box {
  background-color: white;
  display: inline-block;
  width: 32.5%;
  height: 85%;
  border: 1px #bdbdbd solid;
  border-radius: 7px;
  box-shadow: 0 0 5px #939393;
}

/*
  ===================
  Text & Font Handling
  ===================
*/

.text-box {
  display: inline-block;
  float: right;
  width: 22%;
  height: 100%;
  text-align: justify;
  padding-top: 12px;
}

h1 {
  color: #6D6968;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

/*
  ===================
  Manage Colors
  ===================
*/

#red {
  background-color: red;
  border: 0px black solid;
}

#peach {
  background-color: #ccae94;
  border: 0px black solid;
}

#light-peach {
  background-color: #ffc0cb;
  border: .5px #FF69B4 solid;
}

#tan {
  background-color: #737441;
  border: 0px black solid;
}

#orange {
  background-color: #FF851B;
  border: 0px black solid;
}

#light-tan {
  background-color: #8b8b5f;
  border: 0px black solid;
}

#random {
  background-color: #456538;
  border: 0px black solid;
}

#yellow {
  background-color: #FFDC00;
  border: 0px black solid;
}

#plain {
  background-color: #6f725d;
  border: 0px black solid;
}

#green {
  background-color: #3D9970;
  border: 0px black solid;
}

#lime {
  background-color: #2ECC40;
  border: 0px black solid;
}

#very-light-green {
  background-color: #01FF70;
  border: 0px black solid;
}

/* Navy */
#blue {
  background-color: #001f3f;
  border: 0px black solid;
}

/* Blue */
#light-blue {
  background-color: #0074D9;
  border: 0px black solid;
}

/* Aqua */
#very-light-blue {
  background-color: #7FDBFF;
  border: 0px black solid;
}

#purple {
  background-color: #B10DC9;
  border: 0px black solid;
}

/* Fuchsia */
#light-purple {
  background-color: #F012BE;
  border: 0px black solid;
}

/* Maroon */
#plum {
  background-color: #85144b;
  border: 0px black solid;
}

#lighter-purple {
  background-color: #94679c;
  border: 0px black solid;
}

#grey {
  background-color: #808080;
  border: 0px black solid;
}

#light-grey {
  background-color: #AAAAAA;
  border: 0px black solid;
}

/* Silver */
#mist {
  background-color: #DDDDDD;
  border: .5px #808080 solid;
}

#white {
  background-color: #FFFFFF;
  border: .5px #808080 solid;
}

/* Black */
#brown {
  background-color: #111111;
  border: 0px black solid;
}

#light-brown {
  background-color: #543b22;
  border: 0px black solid;
}

#lighter-brown {
  background-color: #654f39;
  border: 0px black solid;
}

#lightest-brown {
  background-color: #6e6567;
  border: 0px black solid;
}
